<!-- app/templates/admin/art_styles/art_styles.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Art_Styles{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Art_Styles</h1>
        {% if art_styles %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Art Style id </th>
                  <th width="15%"> Art Style Name </th>
                  <th width="15%"> Artist Count </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for art_style in art_styles %}
                <tr>
                  <td> {{ art_style.styleid }} </td>
                  <td> {{ art_style.styleName }} </td>
                  <td>
                    {% if art_style.Art_ists %}
                      {{ art_style.Art_ists.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_art_style', styleid=art_style.styleid) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_art_style', styleid=art_style.styleid) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No art_styles have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_art_style') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Art_Style
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}