<!-- app/templates/admin/artworks/artwork.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_artwork %}
        Add Artwork
    {% else %}
        Edit Artwork
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_artwork %}
                <h1>Add Artwork</h1>
            {% else %}
                <h1>Edit Artwork</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}